<nav class="navbar bg-light">
  <div class="content-fluid nav-bar-container">
    <a class="navbar-brand" routerLink="/home">Banco Fake</a>
    <div class="btn-group" role="group" aria-label="Vertical button group">
      <button class="btn btn-light" routerLink="/home" routerLinkActive="ativado"> Home </button>
      <button class="btn btn-light" routerLink="/extrato" routerLinkActive="ativado"> Extrato </button>
      <button class="btn btn-light" routerLink="/contatos" routerLinkActive="ativado"> Contatos </button>
      <button class="btn btn-light" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>