<main class="main-container">
  <div class="container card main-div-container">
    <h1 class="text-center">Banco Fake</h1>
    <form class="row m-1">
      <div class="row mb-3">
        <label for="login" class="form-label">
          Login
          <input type="email" id="login" class="form-control" />
        </label>
        <label for="password" class="form-label">
          Password
          <input type="password" id="password" class="form-control" />
        </label>
      </div>
      <div class="btn-group-vertical row mb-2" role="group" aria-label="Vertical button group">
        <button type="submit" class="btn btn-primary mb-2">Login</button>
        <button type="button" class="btn btn-secondary mb-2">Register</button>
      </div>
    </form>
  </div>
</main>